.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;

    &.is-show {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;

        & .modal__wrap {
            transform: scale(1);
			opacity: 1;
        }
    }
}

.modal__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__wrap {
    min-height: 100%;
    // transform: translate(0, 100vh);
	transform: scale(.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
	opacity: 0;
    transition: $tr;
}

.modal__window {
    position: relative;
    max-width: 800px;
    width: 100%;
    background: $dark;
	border-radius: $radius-s;
	overflow: hidden;
    // padding: 24px;
	aspect-ratio: 1 / .56;

	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.modal-close.burger {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 60px;
    height: 60px;
    transition: $tr;

	@media (max-width: $mobile-l) {
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
	}
}
