<footer class="footer" id="footer" style="background-image:url(./assets/img/footer.jpg);">
	<div class="footer__container">
		<div class="footer__contacts">
			<div class="footer-contact">
				<span class="title-4 footer-contact__title">Address</span>
				<span class="title-4 footer-contact__text">Dmitrovskoe highway, 100, building 2 <br>Moscow, Russia</span>
			</div>
			<div class="footer-contact">
				<span class="title-4 footer-contact__title">Email</span>
				<span class="title-4 footer-contact__text"><a href="mailto:info@postkino.ru" class="link">info@postkino.ru</a></span>
			</div>
		</div>
		<div class="footer__socials">
			<a href="#" class="link footer-social">Instagram</a>
			<a href="#" class="link footer-social">Facebook</a>
		</div>
	</div>
</footer>
