<header class="header">
	<div class="header__area">
		<div class="header__container">
			<a href="/" class="logo header__logo"><img src="../assets/img/logo.svg" alt=""></a>
			<nav class="menu">
				<div class="menu__wrap">
					<div class="menu__header">
						<!-- <span class="menu__header-title">Меню</span> -->
						<button class="burger is-active menu__header-close" data-menu-close><span></span><span></span><span></span></button>
					</div>
					<div class="menu__body">
						<ul class="menu__list">
							<li class="menu__list-item"><a href="./main.html#about">About us</a></li>
							<li class="menu__list-item"><a href="./services.html">Services</a></li>
							<li class="menu__list-item"><a href="./portfolio.html">Portfolio</a></li>
							<li class="menu__list-item"><a href="./jobs.html">Jobs</a></li>
							<li class="menu__list-item"><a href="./gallery.html">Gallery</a></li>
							<li class="menu__list-item"><a href="#footer">Contacts</a></li>
						</ul>
					</div>
					<div class="menu__footer">
						<div class="menu__email">
							<span class="title-4 menu__email-title">Email</span>
							<a href="mailto:info@postkino.ru" class="title-4 link menu__email-link">info@postkino.ru</a>
						</div>
						<div class="menu__socials">
							<a href="#" class="title-4 link menu__social">Instagram</a>
							<a href="#" class="title-4 link menu__social">Facebook</a>
						</div>
					</div>
				</div>
			</nav>
			<button class="burger header__burger" data-menu-open><span></span><span></span><span></span></button>
		</div>
	</div>
</header>
