.c-commerce {
	width: 100%;
	aspect-ratio: 1 / .58;

	&:active {

		& .c-commerce__thumb {
			transform: scale(1);
		}
	}

	@media (any-hover: hover) {

		&:hover {

			& .c-commerce__thumb {
				transform: scale(1.1);
			}
		}

		&:active {

			& .c-commerce__thumb {
				transform: scale(1);
			}
		}
	}
}

.c-commerce__thumb {
	position: relative;
	width: 100%;
	height: 100%;
	transition: $tr;

	& img {
		object-fit: cover;
	}
}

.c-commerce__img {

	&.is-second {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 30%);
		transform: translate(0, 100%) scale(1, -1);
		opacity: .2;
		pointer-events: none;
	}
}
