.header__area {

	&.is-fixed {
		position: fixed;
		height: 100px;
		transition: transform .6s;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		background: rgba(19,19,19,0.8);
		// pointer-events: none;

		&.is-show {
			transform: translateY(100%);
		}

		// & .header__container > * {
		// 	pointer-events: fill;
		// }
	}
}
