<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css" />
	</head>
	<body>
		<div class="loader" id="loader">
			<div class="loader__wrap">
				<div class="loader__body">
					<div class="loader__icon"></div>
					<div class="loader__progress" style="--progress: 0px;"></div>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<main class="main">
				{% include "sections/header.html" %}
				<div class="main__body">
					<div class="main__container">
						<div class="main__content">
							<h1 class="title-1 main__title">Portfolio</h1>
							<!-- <span class="title-2 main__subtitle"></span>
							<div class="title-3 main__text">
								<p></p>
							</div> -->
						</div>
						<div class="main__slider">
							<div class="swiper portfolio__slider-container" data-swiper="portfolio">
								<div class="swiper-wrapper">
									<a href="#commerce" class="swiper-slide detail-slide">
										<div class="detail-slide__wrap">
											<div class="detail-slide__content">
												<span class="title-4 detail-slide__title">Advertising</span>
											</div>
											<div class="detail-slide__img"><img src="./assets/img/portfolio/1.jpg" alt="" /></div>
										</div>
									</a>
									<a href="#reels" class="swiper-slide detail-slide">
										<div class="detail-slide__wrap">
											<div class="detail-slide__content">
												<span class="title-4 detail-slide__title">Reels</span>
											</div>
											<div class="detail-slide__img"><img src="./assets/img/portfolio/3.jpg" alt="" /></div>
										</div>
									</a>
									<a href="#movies" class="swiper-slide detail-slide">
										<div class="detail-slide__wrap">
											<div class="detail-slide__content">
												<span class="title-4 detail-slide__title">Movies | Series</span>
											</div>
											<div class="detail-slide__img"><img src="./assets/img/portfolio/2.jpg" alt="" /></div>
										</div>
									</a>
								</div>
							</div>
							<div class="swiper-arrows main__arrows portfolio__arrows">
								<button
									class="swiper-arrow is-prev portfolio__arrow"
									style="transform: rotate(180deg)"
								></button>
								<button class="swiper-arrow is-next portfolio__arrow"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="main__bg" data-db="portfolio.json">
					<div class="swiper main__bg-container" data-swiper="main-bg">
						<div class="swiper-wrapper"></div>
					</div>
				</div>
				<button class="main-arrow"></button>
			</main>

			<div class="content has-shadow">
				<section class="section reels" id="reels">
					<div class="reels__container">
						<div class="s-header">
							<h2 class="title-1 s-header__title">Reels</h2>
						</div>
						<div class="reels__body">
							<div class="reels-pagin"></div>
							<div class="reels__slider">
								<div class="swiper reels__slider-container" data-swiper="reels">
									<div class="swiper-wrapper"></div>
								</div>
								<div class="swiper-arrows reels__arrows">
									<button
										class="swiper-arrow is-prev reels__arrow"
										style="transform: rotate(180deg)"
									></button>
									<button class="swiper-arrow is-next reels__arrow"></button>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section movies" id="movies">
					<div class="movies__container">
						<div class="s-header">
							<h2 class="title-1 s-header__title">Movies | Series</h2>
						</div>
						<div class="movies__body">
							<div class="movies__sliders">
								<div class="movies__slider">
									<div class="swiper movies__slider-container" data-swiper="movies">
										<div class="swiper-wrapper"></div>
									</div>
								</div>
							</div>
							<div class="swiper-arrows movies__arrows">
								<button
									class="swiper-arrow is-prev movies__arrow"
									style="transform: rotate(180deg)"
								></button>
								<button class="swiper-arrow is-next movies__arrow"></button>
							</div>
						</div>
					</div>
				</section>

				<section class="section commerce" id="commerce">
					<div class="commerce__container">
						<div class="s-header">
							<h2 class="title-1 s-header__title">Advertising</h2>
						</div>
						<div class="commerce__body">
							<div class="commerce__slides">
								<div class="commerce__slider">
									<div class="swiper commerce__slider-container" data-swiper="commerce">
										<div class="swiper-wrapper"></div>
									</div>
								</div>

							</div>
							<div class="swiper-arrows commerce__arrows">
								<button
									class="swiper-arrow is-prev commerce__arrow"
									style="transform: rotate(180deg)"
								></button>
								<button class="swiper-arrow is-next commerce__arrow"></button>
							</div>
						</div>
					</div>
				</section>
			</div>

			{% include "sections/footer.html" %}
		</div>

		<div class="modal" data-modal-id="video" data-close-on-bg>
			<div class="modal__wrap">
				<div class="modal__window"></div>
				<button class="burger is-active modal-close" data-modal-close>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="modal__bg"></div>
			</div>
		</div>

		<a href="http://ugryumov.com" style="display: none">front-end</a>
		<script src="./assets/js/bundle.js"></script>
	</body>
</html>
