// Бургер
.burger {
    position: relative;
    width: 40px;
    height: 40px;
    transition: $tr;

    & span {
        position: absolute;
        top: 50%;
        right: 0;
        // width: 40%;
        height: 2px;
        display: block;
        background: $text-primary;
		border-radius: 2px;
        transition: $tr;

        &:nth-child(1) {
			transform: translate(0, calc(-50% - 5px));
			width: 100%;
        }

        &:nth-child(2) {
            transform: translate(0, -50%);
			width: 75%;
        }

        &:nth-child(3) {
            transform: translate(0, calc(-50% + 5px));
			width: 55%;
        }
    }

    &.is-active {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
				width: 55%;
			}

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
				width: 55%;
            }
        }
    }
}
//========================================================================================================================================================


// Логотип
.logo {
	max-width: 60px;
	width: 100%;
	aspect-ratio: 1 / 1;
	height: auto;
	display: block;

	// &.is-small {
	// 	max-width: 96px;
	// }

	@media (max-width: $mobile-l) {
		max-width: 40px;
	}
}


// Раздел
.section {
    margin: 300px 0;

	&.is-fill {
		// background: $frame-light;
		padding: 50px 0;
	}

	&.have-margin-s {
		margin: 80px 0;

		@media (max-width: $mobile-l) {
			margin: 60px 0;
		}
	}

	@media (max-width: $tablet) {
		margin: 200px 0;
	}

    @media (max-width: 600px) {
        margin: 125px 0;
    }
}
//========================================================================================================================================================


// Шапка раздела
.s-header {
    margin-bottom: 74px;

    @media (max-width: $tablet) {
        margin-bottom: 54px;
    }
    @media (max-width: $mobile-l) {
        margin-bottom: 36px;
    }
}

.s-header__title {

}

.s-header__subtitle {

}

.s-header__text {

}
//========================================================================================================================================================
