@use "sass:math";

@import "./mixins";


// ========== ШРИФТЫ ==========

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

@include font('Eurostar', normal, 400, '../fonts/Eurostar-Regular-Extended.woff2');

// ========== КОНЕЦ ШРИФТЫ ==========


// ========== ПЕРЕМЕННЫЕ ==========

// Цвета
$light: #fff;
$dark: #1C1C1C;
$text-primary: #fff;
$text-second: brig-color($text-primary, .7);
$text-label: #BDBDBD;
$accent: #00C800;

// Задний фон разделов
// $frame-dark: #080A0A;
// $frame-light: #0E1010;

// Обводка
$stroke-gray: #7E7E7E;

// Радиусы
$radius-s: 10px;

// Текстовые поля
$input-placeholder: brig-color(#000, .3);

// Уведомления
$error: #EB5757;

// Значения отзывчивости
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1160;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;

// Разрешения экранов
$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: $tablet;

// Прочее
$ff-main: 'Eurostar', sans-serif;
$tr: .3s;

// ========== КОНЕЦ ПЕРЕМЕННЫЕ ==========


// ========== ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ ==========

:root {
	--container-padding: #{math.div($container-padding, 2) + 'px'};
	--container-width: #{$container-width + 'px'};
	--header-height: 170px;

	@media (max-width: $hide-menu) {
		--header-height: 100px;
	}
}

// ========== КОНЕЦ ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ ==========




// Сброс CSS
@import "./reset";

html {
    min-width: $min-width;
	font-family: $ff-main;
	font-size: 16px;
	font-weight: 400;
	color: $text-primary;
	line-height: 1.2;
	scroll-behavior: smooth;

	&.is-lock {

		& body {
			overflow: hidden;
			touch-action: none;
		}
	}
}

body {
	background: $dark;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
    }
}

// Контейнер
[class*="__container"] {
    @if ($max-width-container > 0) {
        max-width: $max-width-container + px;
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($container-padding > 0) {
        padding: 0 var(--container-padding);
    }

	@media (max-width: $tablet) {
		--container-padding: 30px;
	}

    @media (max-width: $mobile-l) {
		--container-padding: 20px;
    }

    @media (max-width: $mobile-m) {
		--container-padding: 16px;
    }
}




// ========== БИБЛИОТЕКИ ==========

@import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// ========== КОНЕЦ БИБЛИОТЕКИ ==========



// ========== ПОДКЛЮЧЕНИЕ ФАЙЛОВ ==========

// Базовые стили, шаблоны, заготовки
@import "./base";


// Общие стили проекта
@import "./common";


// Компоненты
// @import "./components/";


// Карточки
@import "./components/cards/c-area";


// Модальные окна
// @import "./components/modals/";


// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/s-about";
@import "./sections/s-areas";
@import "./sections/s-why";
@import "./sections/footer";


// Стили для отдельных страниц
// @import "./pages/";
